
//colors
$dark-blck: #0B0C10;
$b-grey:#1F2833;
$l-grey:#C5C6C7;
$l-blue:#66FCF1;
$d-blue:#45A29E;
body{
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    //display: flex;
    //flex-direction: column;
    font-family: 'Montserrat', sans-serif;;
}

a{
    color: $dark-blck;
    transition: all 0.3s ease-in-out;

}
a:hover{
color: $l-blue;
}
header{
    width: 100%;
    height: 10vh;
   // border: 1px dashed red;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: white;
    position: fixed;
    top: 0;
    z-index: 12;
    background-color: $dark-blck;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.719);

    .logo{
        //border: 1px dashed blue;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 20%;
        height: 100%;
        padding: 20px 25px;
        h4{
            font-size: 30px;
           // letter-spacing: 5px;
            font-family: 'Calligraffitti', cursive;
            //border: 1px dashed black;
            
        }
        p{
            font-style: italic;
        }
    }

    nav{
        width: 40%;
        height: 100%;

        ul{
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        a{
            color: white;
            transition: all 0.3s ease-in-out;

        }
    a:hover{
        color: $l-blue;
    }
    }
}

.showcase{
    width: 100%;
    height: 100vh;
    //background-color: rgb(218, 218, 218);
    background-image: url("images/pexels-fauxels-3184163.jpg");
    background-size: cover;
    background-position: center 30%;
  
    position: relative;
    
    .color-b{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark-blck;
        opacity: 0.4;
    }
    



    p{
        font-size: 30px;
        font-weight: 600;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 40%;
        left: 50%;
        color: $l-blue;
    }
    .credits{

        position: absolute;
        bottom: 4%;
        right: 4%;
         span{
             font-weight: 600;
         }
    }
}

section{
    width: 80%;
    position: absolute;
    top: 60vh;
    background-color: white;
    padding: 30px 50px;
    box-shadow: 0px 1px 5px 1px rgba(78, 78, 78, 0.719);
    border-top: 5px solid $l-blue;
    border-radius: 5px;
    .message{
        //border: 1px dashed red;
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 5vh;

        h1{
            font-size: 100px;
            color: $b-grey;
        }

        p{
            font-size: 20px;
            text-align: center;
            color: $d-blue;
        }
        
    }
     .papers{
        //border: 1px dashed blue;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(243,243,243);
        color: $dark-blck;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10vh;

        h2{
            font-size: 40px;
        }

        ul{
            margin-top: 10vh;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: square;
        }
        a{
            font-size: 18px;
        }
     }

   
}

footer{
    position: absolute;
    top: 200vh;
    
    background-color: $dark-blck;
    width: 100%;
    height: 10vh;
    //color: $l-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;

    ul{
        list-style: none !important;
    }
    li{
        color: #66fcf28f;
    }
}
@media(max-width:1000px){
    section{
        .message{
            h1{
                font-size: 80px;
            }
            p{
                font-size: 25px;
            }
        }
}

@media(max-width:800px){
    header{
        nav{
            width: 80%;
        }
    }
   
    section{
        .message{
            h1{
                font-size: 50px;
            }
            p{
                font-size: 15px;
            }
        }

        .papers{
            h2{
                font-size: 20px;
            }
            a{
                font-size: 15px;
            }
        }
    }
 
}



}

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

    ul.actions li {
        padding: 0 0 0 1em;
        vertical-align: middle;
    }
    .button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		background-color: transparent;
		border: solid 1px !important;
		border-color: $d-blue !important;
		border-radius: 3em;
		color: $d-blue !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6em;
		font-weight: bold;
		height: calc(4.75em + 2px);
		letter-spacing: 0.25em;
		line-height: 4.75em;
		outline: 0;
		padding: 0 3.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:after,
		input[type="reset"]:after,
		input[type="button"]:after,
		button:after,
		.button:after {
			-moz-transform: scale(0.25);
			-webkit-transform: scale(0.25);
			-ms-transform: scale(0.25);
			transform: scale(0.25);
			pointer-events: none;
			-moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
			-webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
			-ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
			transition: opacity 0.2s ease, transform 0.2s ease;
			background: $l-blue;
			border-radius: 3em;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
        .button:hover {
			border-color: $l-blue !important;
		}

			input[type="submit"]:hover:after,
			input[type="reset"]:hover:after,
			input[type="button"]:hover:after,
			button:hover:after,
			.button:hover:after {
				opacity: 0.05;
				-moz-transform: scale(1);
				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}

			input[type="submit"]:hover:active,
			input[type="reset"]:hover:active,
			input[type="button"]:hover:active,
			button:hover:active,
			.button:hover:active {
				border-color: $l-blue !important;
			}

				input[type="submit"]:hover:active:after,
				input[type="reset"]:hover:active:after,
				input[type="button"]:hover:active:after,
				button:hover:active:after,
				.button:hover:active:after {
					opacity: 0.1;
				}